In [195]:
import pandas as pd
import math

In [196]:
aa = pd.read_csv('attribution_allocation_student_data.csv')
ps = pd.read_csv('channel_spend_student_data.csv')
aa

       convert_TF    touch1    touch2    touch3    touch4  touch5  tier
0            True  referral  referral  referral     email     NaN     1
1            True  referral   display   display     email     NaN     1
2            True     email   display  referral       NaN     NaN     1
3            True  referral  referral     email       NaN     NaN     1
4            True    social  referral       NaN       NaN     NaN     1
...           ...       ...       ...       ...       ...     ...   ...
68119       False    social   display    direct       NaN     NaN     3
68120       False  referral  referral  referral  referral  direct     3
68121       False   display  referral    social    direct     NaN     3
68122       False     email     email    social    direct     NaN     3
68123       False   display    social    direct       NaN     NaN     3

[68124 rows x 7 columns]

In [197]:
aa.head()

   convert_TF    touch1    touch2    touch3 touch4 touch5  tier
0        True  referral  referral  referral  email    NaN     1
1        True  referral   display   display  email    NaN     1
2        True     email   display  referral    NaN    NaN     1
3        True  referral  referral     email    NaN    NaN     1
4        True    social  referral       NaN    NaN    NaN     1

In [198]:
print(ps)

  Unnamed: 0                                                  0
0      tier1  {'email': 1000.0, 'social': 1000.0000000000001...
1      tier2  {'email': 2000.0, 'social': 2000.0, 'display':...
2      tier3  {'email': 3000.0, 'social': 3000.0, 'display':...

In [199]:
tier1 = {'email': 1000.0, 'social': 1000.0000000000001, 'display': 1000.0, 'paid_search': 999.9999999999999, 'referral': 1000.0, 'organic_search': 0.0, 'direct': 0.0}
tier2 = {'email': 2000.0, 'social': 2000.0, 'display': 2000.0, 'paid_search': 2000.0, 'referral': 2000.0, 'organic_search': 0.0, 'direct': 0.0}
tier3 = {'email': 3000.0, 'social': 3000.0, 'display': 3000.0, 'paid_search': 3000.0, 'referral': 3000.0, 'organic_search': 0.0, 'direct': 0.0}
tier123 = [tier1,tier2,tier3]
tiersum = {k: sum(d[k] for d in tier123) for k in tier123[0]}
tiersum

{'email': 6000.0,
 'social': 6000.0,
 'display': 6000.0,
 'paid_search': 6000.0,
 'referral': 6000.0,
 'organic_search': 0.0,
 'direct': 0.0}

In [200]:
aa = aa[aa['convert_TF'] == True]

In [201]:
aa_t1 = aa[aa['tier'] == 1]
aa_t2 = aa[aa['tier'] == 2]
aa_t3 = aa[aa['tier'] == 3]

In [202]:
aa_t1 = aa_t1.drop(['convert_TF','tier'],axis = 1)
aa_t2 = aa_t2.drop(['convert_TF','tier'],axis = 1)
aa_t3 = aa_t3.drop(['convert_TF','tier'],axis = 1)

In [203]:
aa= aa.drop(['convert_TF','tier'],axis = 1)

In [204]:
aa_t1

         touch1    touch2          touch3  touch4    touch5
0      referral  referral        referral   email       NaN
1      referral   display         display   email       NaN
2         email   display        referral     NaN       NaN
3      referral  referral           email     NaN       NaN
4        social  referral             NaN     NaN       NaN
...         ...       ...             ...     ...       ...
4304   referral  referral        referral     NaN       NaN
4305   referral  referral          social  social  referral
11333  referral  referral  organic_search     NaN       NaN
11334  referral  referral  organic_search     NaN       NaN
11347  referral  referral             NaN     NaN       NaN

[2824 rows x 5 columns]

In [205]:
## last interaction

In [206]:
lt = aa.values.tolist()
lt = [[x for x in i if x == x]for i in lt]
lt = [[i[-1]]for i in lt]

In [207]:
from collections import Counter
channel_customers_counts = Counter(x for i in lt for x in set(i))
cac = []
b = []
for x in tier1:
    a = int(tiersum[x])/int(channel_customers_counts[x])
    cac.append(a)
    b.append(x)
cac = {b[i]:cac[i] for i in range(len(b))}
cac

{'email': 4.0241448692152915,
 'social': 2.027027027027027,
 'display': 2.6178010471204187,
 'paid_search': 5.9760956175298805,
 'referral': 0.9976720984369803,
 'organic_search': 0.0,
 'direct': 0.0}

In [208]:
## first interaction

In [209]:
fi = aa.values.tolist()
fi = [[x for x in i if x == x]for i in fi]
fi = [[i[0]]for i in fi]

In [210]:
from collections import Counter
channel_customers_counts = Counter(x for i in fi for x in set(i))
cac = []
b = []
for x in tier1:
    a = int(tiersum[x])/int(channel_customers_counts[x])
    cac.append(a)
    b.append(x)
cac = {b[i]:cac[i] for i in range(len(b))}
cac

{'email': 4.672897196261682,
 'social': 2.6315789473684212,
 'display': 2.9542097488921715,
 'paid_search': 8.982035928143713,
 'referral': 0.800533689126084,
 'organic_search': 0.0,
 'direct': 0.0}

In [211]:
## last non-direct click

In [212]:
ln = aa.values.tolist()
ln = [[x for x in i if x == x and x!='direct']for i in ln]
ln = [x for x in ln if x]
ln = [[i[-1]]for i in ln]

In [213]:
from collections import Counter
channel_customers_counts = Counter(x for i in lt for x in set(i))
cac = []
b = []
for x in tier1:
    a = int(tiersum[x])/int(channel_customers_counts[x])
    cac.append(a)
    b.append(x)
cac = {b[i]:cac[i] for i in range(len(b))}
cac

{'email': 4.0241448692152915,
 'social': 2.027027027027027,
 'display': 2.6178010471204187,
 'paid_search': 5.9760956175298805,
 'referral': 0.9976720984369803,
 'organic_search': 0.0,
 'direct': 0.0}

In [214]:
## question 2

In [215]:
lt_t1 = aa_t1.values.tolist()
lt_t1 = [[x for x in i if x == x]for i in lt_t1]
lt_t1 = [[i[-1]]for i in lt_t1]

In [247]:
from collections import Counter
channel_customers_counts1 = Counter(x for i in lt_t1 for x in set(i))
cac = []
b = []
for x in tier1:
    a = int(tier1[x])/int(channel_customers_counts1[x])
    cac.append(a)
    b.append(x)
cac = {b[i]:cac[i] for i in range(len(b))}
print(cac,channel_customers_counts1)

{'email': 3.5587188612099645, 'social': 1.6, 'display': 1.893939393939394, 'paid_search': 5.676136363636363, 'referral': 0.8257638315441783, 'organic_search': 0.0, 'direct': 0.0} Counter({'referral': 1211, 'social': 625, 'display': 528, 'email': 281, 'paid_search': 176, 'organic_search': 2, 'direct': 1})

In [217]:
lt_t2 = aa_t2.values.tolist()
lt_t2 = [[x for x in i if x == x]for i in lt_t2]
lt_t2 = [[i[-1]]for i in lt_t2]

In [218]:
from collections import Counter
channel_customers_counts2 = Counter(x for i in lt_t2 for x in set(i))
cac = []
b = []
for x in tier1:
    a = int(tier2[x])/int(channel_customers_counts2[x])
    cac.append(a)
    b.append(x)
cac = {b[i]:cac[i] for i in range(len(b))}
print(cac,channel_customers_counts2)

{'email': 3.6036036036036037, 'social': 1.8867924528301887, 'display': 2.444987775061125, 'paid_search': 5.763688760806916, 'referral': 0.9492168960607499, 'organic_search': 0.0, 'direct': 0.0} Counter({'referral': 2107, 'social': 1060, 'display': 818, 'email': 555, 'paid_search': 347, 'organic_search': 4, 'direct': 1})

In [219]:
lt_t3 = aa_t3.values.tolist()
lt_t3 = [[x for x in i if x == x]for i in lt_t3]
lt_t3 = [[i[-1]]for i in lt_t3]

In [220]:
from collections import Counter
channel_customers_counts3 = Counter(x for i in lt_t3 for x in set(i))
cac = []
b = []
for x in tier1:
    a = int(tier3[x])/int(channel_customers_counts3[x])
    cac.append(a)
    b.append(x)
cac = {b[i]:cac[i] for i in range(len(b))}
print(cac,channel_customers_counts3)

{'email': 4.580152671755725, 'social': 2.3529411764705883, 'display': 3.171247357293869, 'paid_search': 6.237006237006237, 'referral': 1.1127596439169138, 'organic_search': 0.0, 'direct': 0.0} Counter({'referral': 2696, 'social': 1275, 'display': 946, 'email': 655, 'paid_search': 481, 'direct': 5, 'organic_search': 5})

In [221]:
#marginal customers count

In [245]:
marginal_counts1 = []
b =[]
for x in channel_customers_counts1:
    a = int(channel_customers_counts2[x])-int(channel_customers_counts1[x])
    marginal_counts1.append(a)
    b.append(x)
mc1 = {b[i]:marginal_counts1[i] for i in range(len(b))}
mc1['direct']=1

In [238]:
marginal_counts2 = []
b =[]
for x in channel_customers_counts2:
    a = int(channel_customers_counts3[x])-int(channel_customers_counts2[x])
    marginal_counts2.append(a)
    b.append(x)
mc2 = {b[i]:marginal_counts2[i] for i in range(len(b))}
mc2

{'email': 100,
 'social': 215,
 'referral': 589,
 'display': 128,
 'paid_search': 134,
 'organic_search': 1,
 'direct': 4}

In [239]:
## marginal_spent

In [240]:
marginal_spent2 = []
b =[]
for x in tier1:
    a = int(tier2[x])-int(tier1[x])
    marginal_spent2.append(a)
    b.append(x)
ms2 = {b[i]:marginal_spent2[i] for i in range(len(b))}
ms2

{'email': 1000,
 'social': 1000,
 'display': 1000,
 'paid_search': 1001,
 'referral': 1000,
 'organic_search': 0,
 'direct': 0}

In [241]:
marginal_spent3 = []
b =[]
for x in tier2:
    a = int(tier3[x])-int(tier2[x])
    marginal_spent3.append(a)
    b.append(x)
ms3 = {b[i]:marginal_spent3[i] for i in range(len(b))}
ms3

{'email': 1000,
 'social': 1000,
 'display': 1000,
 'paid_search': 1000,
 'referral': 1000,
 'organic_search': 0,
 'direct': 0}

In [242]:
## marginal cac

In [246]:
mcac = []
b = []
for x in mc1:
    a = int(ms2[x])/int(mc1[x])
    mcac.append(a)
    b.append(x)
mcac = {b[i]:mcac[i] for i in range(len(b))}
mcac

{'email': 3.6496350364963503,
 'referral': 1.1160714285714286,
 'social': 2.2988505747126435,
 'paid_search': 5.853801169590644,
 'display': 3.4482758620689653,
 'direct': 0.0,
 'organic_search': 0.0}

In [244]:
mcac = []
b = []
for x in mc2:
    a = int(ms3[x])/int(mc2[x])
    mcac.append(a)
    b.append(x)
mcac = {b[i]:mcac[i] for i in range(len(b))}
mcac

{'email': 10.0,
 'social': 4.651162790697675,
 'referral': 1.697792869269949,
 'display': 7.8125,
 'paid_search': 7.462686567164179,
 'organic_search': 0.0,
 'direct': 0.0}

In [248]:
cac

{'email': 3.5587188612099645,
 'social': 1.6,
 'display': 1.893939393939394,
 'paid_search': 5.676136363636363,
 'referral': 0.8257638315441783,
 'organic_search': 0.0,
 'direct': 0.0}